body, td, input {
  font-family: monospace;
}

.hidden {
  visibility: hidden;
  display: none;
}

.fill-width {
  width: 100%;
}

.float-right {
  float: right;
}

div#form-area {
    width: 400px;
}